# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# node
node_modules/
dist/
build/
npm-debug.log*

# environment variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# DB
*.sqlite
*.sqlite3
sql_app.db
